entrypoint = "README.md"
modules = ["nodejs-22"]

[nix]
channel = "stable-24_05"
packages = ["imagemagick"]

[[ports]]
localPort = 3001
externalPort = 3002

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "EAS Init"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas init"

[[workflows.workflow]]
name = "EAS Update"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas update --auto"

[[workflows.workflow]]
name = "EAS Publish Preview iOS"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform ios --profile preview"

[[workflows.workflow]]
name = "EAS Publish Preview Android"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform android --profile preview"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 8081
ensurePreviewReachable = "/status"

[agent]
stack = "EXPO"

[deployment]
deploymentTarget = "static"
publicDir = "static-build"
build = ["node", "scripts/build.js"]

# Expo manifest headers
[[deployment.responseHeaders]]
path = "/*"
name = "expo-protocol-version"
value = "1"

[[deployment.responseHeaders]]
path = "/*"
name = "expo-sfv-version"
value = "0"

[userenv]

[userenv.shared]
EXPO_PUBLIC_FIREBASE_API_KEY = "AIzaSyDXoVLNhWt3Woz-lK8EIIJ63vr0T6X127A"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN = "lastrocapital-fb4e8.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "lastrocapital-fb4e8"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET = "lastrocapital-fb4e8.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "294962452590"
EXPO_PUBLIC_FIREBASE_APP_ID = "1:294962452590:web:61ee302a4e473e97ecee7f"
